#panel {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#panel input {
	display: none;
}

#panel input:checked + .icon {
	background-color: #aaa;
}

.icon {
	width: 64px;
	height: 64px;
	margin: 7px;
	background-color: #ddd;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	background-image: url(./assets/icons.png);
	cursor: pointer;
	background-size: cover;
	display: block;
	transition: all 100ms ease-in;
	/* filter: brightness(1.8) grayscale(1) opacity(.7); */
}

.icon:hover {
	background-color: #ccc;
}

#rb-x     + .icon      { background-position:    0px 0px; }
#rb-y     + .icon      { background-position:  -64px 0px; }
#rb-z     + .icon      { background-position: -128px 0px; }
#cb-move  + .icon      { background-position: -192px 0px; }
#rb-x     + .icon.move { background-position: -256px 0px; }
#rb-y     + .icon.move { background-position: -320px 0px; }
#rb-z     + .icon.move { background-position: -384px 0px; }
#btn-save + .icon      { background-position: -448px 0px; }
#btn-load + .icon      { background-position: -512px 0px; }
